:root {
    --phone-width: 390;
    --phone-height: 844;
    --phone-scale: 1;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Koganejidainogemu';
    src: url('assets/fonts/Koganejidainogemu_0.ttf') format('truetype');
}

@font-face {
    font-family: 'JF Dot Shinonome Gothic 14';
    src: url('assets/fonts/JF-Dot-Shinonome-14-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-container {
    /* background-color:tan; */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-image: url('./assets/animation-bg.gif');
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #2c171c;
    position: relative;
}

.game-ends {
    display: none;
    position: absolute;
    top: 250px;
}

.game-ends p {
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    font-family: 'Koganejidainogemu';
    margin-bottom: 0px;
}

.game-ends-button {
    font-family: 'Koganejidainogemu', sans-serif;
    font-size: 20px;
    color: #fff;
    background-color: #3B3033;
    border: none;
    padding: 15px 20px;
    box-shadow: 0px 2px 0px 0px #fff,
        0px -2px 0px 0px #fff,
        2px 0px 0px 0px #fff,
        -2px 0px 0px 0px #fff;
    transition: background-color 0.1s ease;
}

.game-ends-button:hover {
    background-color: #5a4a4e;
}

.game-ends-button:active {
    transform: scale(0.9);
}



.game-start {
    box-shadow: 0px 2px 0px 0px #fff,
        0px -2px 0px 0px #fff,
        2px 0px 0px 0px #fff,
        -2px 0px 0px 0px #fff;
    border-radius: 0px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    /* background-color:bisque; */
    width: 337.55px;
    height: 600px;
    background-image: url('./assets/start-screen.gif');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.game-begin {
    border: 2px solid #2c171c;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    width: 337.55px;
    height: 600px;
    background-image: url('assets/background-start.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    justify-content: center;
    align-items: center;

    position: relative;


}

/* ELEMENT POSITION ABSOLUTE TO GAME BEGIN */

.table {
    display: none;
    z-index: 3;
    position: absolute;
    width: 340px;
    top: 270px;
    left: 0px;
}

.hero-not-cured {
    display: none;
    z-index: 10;
    position: absolute;
    top: 200px;
    left: 10px;
    width: 320px;
}

.hero-not-cured-move {
    z-index: 10;
    position: absolute;
    top: 200px;
    left: 10px;
    width: 320px;
    animation: heroNotCuredMove 1s ease forwards;

}

@keyframes heroNotCuredMove {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }

}

.hero-cured {
    z-index: 2;
    display: none;
    position: absolute;
    left: -05px;
    width: 340px;
}

.hero-2-cured {
    display: none;
    z-index: 2;
    display: none;
    position: absolute;
    left: 15px;
    width: 300px;
}

.hero-2-cured-moved {
    display: none;
    z-index: 2;
    display: none;
    position: absolute;
    left: 15px;
    width: 300px;
    animation: heroNotCured2Moved 1s ease forwards;
}

@keyframes heroCured2Moved {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.5);
    }
}

.hero-3-cured {
    display: none;
    z-index: 2;
    position: absolute;
    left: 30px;
    width: 300px;
}

.hero-3-Cured-moved {
    display: none;
    z-index: 2;
    position: absolute;
    left: 30px;
    width: 300px;
    animation: hero3CuredMove 1s ease forwards;

}

@keyframes hero3CuredMove {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.9);
    }
}

.hero-4-cured {
    display: none;
    z-index: 2;
    position: absolute;
    left: 20px;
    top: 90px;
    width: 300px;
}

.hero-4-cured-moved {
    display: none;
    z-index: 2;
    position: absolute;
    left: 20px;
    top: 90px;
    width: 300px;
    animation: hero4CuredMove 1s ease forwards;
}

@keyframes hero4CuredMove {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.hero-5-cured {
    display: none;
    z-index: 2;
    position: absolute;
    left: 20px;
    top: 60px;
    width: 300px;
}

.hero-5-Cured-moved {
    display: none;
    z-index: 2;
    position: absolute;
    left: 20px;
    top: 60px;
    width: 300px;
    animation: hero4CuredMove 1s ease forwards;
}

.hero-4-not-cured {
    display: none;
    z-index: 2;
    position: absolute;
    left: 15px;
    top: 20px;
    width: 300px;
}

.explosion {
    display: none;
    z-index: 1;
    position: absolute;
    left: 15px;
    top: -20px;
    width: 300px;
}

.hero-4-not-cured-move {
    display: none;
    z-index: 2;
    position: absolute;
    left: 15px;
    top: 20px;
    width: 300px;
    animation: hero4notcuredmove 1s ease forwards;
}

@keyframes hero4notcuredmove {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


.hero-visit {
    display: none;
    position: absolute;
    width: 200px;
    transition: transform ease 1s;
}

.hero-2-visit {
    display: none;
    position: absolute;
    top: 100px;
    width: 300px;
    transition: transform ease 1s;
}

.hero-3-visit {
    display: none;
    position: absolute;
    width: 290px;
    animation: showUpHero3 1.5s ease forwards;
}

@keyframes showUpHero3 {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.hero-4-visit {
    display: none;
    position: absolute;
    width: 290px;
    animation: showUpHero3 1.5s ease forwards;
}

.hero-5-visit {
    display: none;
    position: absolute;
    top: 90px;
    width: 350px;
    animation: showUpHero3 1.5s ease forwards;
}

.hero-5-not-cured {
    z-index: 3;
    display: none;
    position: absolute;
    top: 15px;
    left: 5px;
    width: 340px;
    animation: shaking 0.2s ease;
}

.hero-5-not-cured-move {
    z-index: 3;
    display: none;
    position: absolute;
    top: 15px;
    left: 5px;
    width: 340px;
    animation: shaking 0.2s ease, hero3NotCuredMove 1s ease forwards;
}

.hero-3-not-cured {
    z-index: 3;
    display: none;
    position: absolute;
    top: 160px;
    left: 5px;
    width: 360px;
    animation: shaking 0.2s ease;
}

.hero-3-not-cured-move {
    z-index: 3;
    display: none;
    position: absolute;
    top: 160px;
    left: 5px;
    width: 360px;
    animation: hero3NotCuredMove 1s ease forwards;
}

@keyframes hero3NotCuredMove {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }

}

.hero-not-cured-2 {
    z-index: 2;
    display: none;
    position: absolute;
    left: -8px;
    width: 340px;
    animation: shaking 0.2s ease;
}

.hero-not-cured-2-moved {
    z-index: 2;
    display: none;
    position: absolute;
    left: -8px;
    width: 340px;
    animation: heroNotCured2Moved 1s ease forwards;
}

@keyframes heroNotCured2Moved {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


@keyframes shaking {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-6px);
    }

    40% {
        transform: translateX(6px);
    }

    60% {
        transform: translateX(-4px);
    }

    80% {
        transform: translateX(4px);
    }

    100% {
        transform: translateX(0);
    }
}


.heroCured-moved {
    z-index: 2;
    position: absolute;
    left: -05px;
    width: 340px;
    animation: heroCuredMoved 2s ease forwards;
}

@keyframes heroCuredMoved {
    from {
        opacity: 1;
        left: -05px;
        transform: scale(1);
    }

    to {
        opacity: 0;
        left: -100px;
        transform: scale(0.5);
    }
}

.show-up {
    animation: showUp 2s ease forwards;
}

.shake {
    animation: shake 0.4s ease;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-6px);
    }

    40% {
        transform: translateX(6px);
    }

    60% {
        transform: translateX(-4px);
    }

    80% {
        transform: translateX(4px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes showUp {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.succes-bg {
    display: none;
    z-index: 1;
    position: absolute;
    width: 250px;
    top: 100px;
    left: 40px;
}

.fail-bg {
    display: none;
    position: absolute;
    z-index: 1;
    top: 90px;
    width: 300px;
    animation: ghosUp 3s ease;
}

@keyframes ghosUp {
    from {
        opacity: 1;
        top: 90px;
    }

    to {
        opacity: 0;
        top: -60px;
    }
}

.heart {
    display: block;
}

.hearts-container {
    z-index: 3;
    position: absolute;
    top: 320px;
}

.hearts-container {
    display: none;
}

.hearts-container img {
    width: 20px;
}

.message-container {
    display: none;
    border-radius: 15px 15px 15px 15px;
    top: 0;
    position: absolute;
    background-color: #242424;
    padding: 10px;

    animation: message 2s ease forwards;
}

@keyframes message {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.message-container p {
    color: #fff;
    font-family: 'JF Dot Shinonome Gothic 14', sans-serif;
    font-size: 10px;
    line-height: 135%;
}

.game-results-container {
    text-align: center;
    display: none;
    position: absolute;
    margin-left: 10px;
    margin-right: 10px;
    top: 60px;
    z-index: 111;
    background-color: #241216;
    padding: 10px 10px;
    font-size: 20px;
    font-family: 'Koganejidainogemu', sans-serif;
    box-shadow: 0px 2px 0px 0px #fff,
        0px -2px 0px 0px #fff,
        2px 0px 0px 0px #fff,
        -2px 0px 0px 0px #fff;

}

.game-result-p {
    color: #fff;
}

.game-start-heading {
    position: absolute;
    font-size: 35px;
    font-weight: 400;
    top: 10px;
    padding: 10px 10px;
    font-family: 'Koganejidainogemu', sans-serif;
    background-color: #241216;
    color: white;
    z-index: 2;
    box-shadow: 0px 2px 0px 0px #fff,
        0px -2px 0px 0px #fff,
        2px 0px 0px 0px #fff,
        -2px 0px 0px 0px #fff;
}

.game-start-p {
    font-family: 'JF Dot Shinonome Gothic 14', sans-serif;
    z-index: 1;
    position: absolute;
    font-size: 20px;
    font-weight: 400;
    top: 65px;
    padding: 10px 10px;
    background-color: #2D2D2D;
    color: #fff;
    box-shadow: 0px 2px 0px 0px #fff,
        0px -2px 0px 0px #fff,
        2px 0px 0px 0px #fff,
        -2px 0px 0px 0px #fff;
}

.start-game-button {
    margin-top: 190px;
    font-family: 'Koganejidainogemu', sans-serif;
    font-size: 20px;
    border: none;
    color: #fff;
    background-color: #3B3033;
    padding: 15px 20px;
    transition: background-color 0.1s ease;
    box-shadow: 0px 2px 0px 0px #fff,
        0px -2px 0px 0px #fff,
        2px 0px 0px 0px #fff,
        -2px 0px 0px 0px #fff;
}

.start-game-button:hover {
    background-color: #5a4a4e;
}

.start-game-button:active {
    font-size: 19px;
}

.interactive-container {
    z-index: 999;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 350px;
}

.play-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.antidepressant-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #241216;
    padding: 18px 7px;
    border: none;
    box-shadow: 0px 2px 0px 0px #fff,
        0px -2px 0px 0px #fff,
        2px 0px 0px 0px #fff,
        -2px 0px 0px 0px #fff;
}

.antidepressant-button:hover {
    background-color: #45232a;
}

.antidepressant-button:active {
    background-color: #6b3743;
}

.antidepressant-button img {
    width: 30px;
    filter: drop-shadow(0 0 17px rgba(255, 255, 255, 0.358));
    padding-bottom: 6px;
}

.antidepressant-button:hover img {
    transform: scale(1.85);
}

.antidepressant-button span {
    font-family: 'Koganejidainogemu', sans-serif;
    font-size: 9px;
    color: #fff;

}

.galoperidol-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #172131;
    padding: 23px 7px;
    box-shadow: 0px 2px 0px 0px #fff,
        0px -2px 0px 0px #fff,
        2px 0px 0px 0px #fff,
        -2px 0px 0px 0px #fff;
    transition: background ease-in 0.1s;
}

.galoperidol-button:hover {
    background-color: #25344b;
}

.galoperidol-button:active {
    background-color: #405980;
}

.galoperidol-button img {
    width: 52.5px;
    filter: drop-shadow(0 0 17px rgba(139, 152, 248, 0.358));
}

.galoperidol-button:hover img {
    transform: scale(1.5);
}

.galoperidol-button span {
    padding-top: 10px;
    font-family: 'Koganejidainogemu', sans-serif;
    font-size: 9px;
    color: #fff;

}

.psyhotherapy-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #173A62;
    padding: 13px 7px 20px 7px;
    box-shadow: 0px 2px 0px 0px #fff,
        0px -2px 0px 0px #fff,
        2px 0px 0px 0px #fff,
        -2px 0px 0px 0px #fff;
    transition: background ease-in 0.1s;
}

.psyhotherapy-button:hover {
    background-color: #1e4a7d;
}

.psyhotherapy-button:active {
    background-color: #2a6ab4;
}

.psyhotherapy-button img {
    width: 20px;
    filter: drop-shadow(0 0 17px rgba(139, 152, 248, 0.358));
}

.psyhotherapy-button:hover img {
    transform: scale(1.5);
}

.psyhotherapy-button span {
    padding-top: 10px;
    font-family: 'Koganejidainogemu', sans-serif;
    font-size: 9px;
    color: #fff;

}

.results-container {
    background-color: #2D2D2D;
    display: flex;
    padding: 15px 10px;
    box-shadow: 0px 2px 0px 0px #fff,
        0px -2px 0px 0px #fff,
        2px 0px 0px 0px #fff,
        -2px 0px 0px 0px #fff;
    margin-top: 10px;
    gap: 55px;
    position: relative;
    min-height: 86.29px;
}

.line {
    position: absolute;
    height: 50px;
    top: 15px;
    left: 142px;
}

.healed-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.healed-container h1 {
    font-family: 'Koganejidainogemu', sans-serif;
    color: #fff;
    font-weight: 100;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 3px;
}

.icons-healed-container {
    display: flex;
}

.healed-icon {
    display: none;
    width: 20px;
}

.not-healed-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.not-healed-container h1 {
    font-family: 'Koganejidainogemu', sans-serif;
    color: #fff;
    font-weight: 100;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 3px;
}

.icons-not-healed-container {
    display: flex;
}

.not-healed-icon {
    display: none;
    width: 20px;
}

.play-again-button {
    margin-top: 5px;
    font-family: 'Koganejidainogemu', sans-serif;
    font-size: 20px;
    color: #fff;
    background-color: #3B3033;
    border: none;
    padding: 15px 20px;
    box-shadow: 0px 2px 0px 0px #fff,
        0px -2px 0px 0px #fff,
        2px 0px 0px 0px #fff,
        -2px 0px 0px 0px #fff;
    transition: background-color 0.1s ease;
}

.play-again-button:hover {
    background-color: #5a4a4e;
}

.play-again-button:active {
    transform: scale(1.01);
}
